@import "../../styles/index.scss";

.counter {
  display: flex;
  background-color: $primary-background-color;
  margin: 10px 0px 14px;
  p {
    margin: 8px 20px;
  }

  button {
    padding: 8px 12px;
    @include custom-mixin;
  }
}
