@import "../../styles/index.scss";

.header {
  padding: 10px;
  margin-bottom: 20px;
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  .link {
    color: white;
    font-weight: 600;
    text-decoration: none;
  }
}

@include media-mixin($tablet-breakpoint) {
  .header {
    background-color: skyblue;
    color: white;
  }
}
